@import url('https://fonts.googleapis.com/css2?family=Poppins:200;300;400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(#004d80, #004d80 50%, #fff 50%, #fff 100%);
}
.main3{
    display: flex;
    flex-direction: column;
}

.container{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 320px;
    background:#fff;
    padding: 100px 40px 10px;
    box-shadow: 0 15px 90px rgba(3, 3, 3, 0.1);
}

.container .box h1{
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    
}
.container .box h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color:#333;
   
}
.container .box p{
    font-size: 80%;
    position: relative;
    z-index: 2;
    color:#555;
    
 }